doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title give-hope
    body
        h1 Welcome to Giving Hope 🧧
        p ...donate and save lives today!
